---
---

@import "minima";

.post-content img {
  width: 100vw;
  height: auto;           /* This is the magic line that fixes the 'squish' */
  max-width: none !important; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: block;
}

.home p, .home p em {
  font-size: 1rem;
}